

<h3><%= cat.name %></h3>
            <ul>
                <li><%= cat.sex %></li>
                <li><%= cat.birthdate%></li>
                <li><%= cat.color %></li>
                <li><%= cat.description %></li>
            </ul>
            <br>